.vs
.vscode
build/windows/test_20201221/x64
build/windows/test_20201221/x64/Release
build/windows/test_20201221/x64/Debug
build/windows/x64/Release/POST_PROC_API.ipdb
build/windows/x64/Release/POST_PROC_API.pdb
build/windows/x64/Release/POST_PROC_API.iobj
build/windows/x64/Release/POST_PROC_API.exe
build/windows/x64/Release
build/windows/x64/Debug
output
*.o
*.a
*.bak
*.vcxproj.user
*.log
*.jpg
*.bmp
*.csv
*.txt
*.ply
test_sdk
*.obj
*.exe
*.ipdb
*.pdb
